@charset "UTF-8";
:root {
  --bs-blue: #009ef6;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-purple-100: #632E99;
  --bs-purple-150: #8B4BFA;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-gray: #7e8299;
  --bs-gray-dark: #3f4254;
  --bs-gray-100: #f5f8fa;
  --bs-gray-200: #eff2f5;
  --bs-gray-300: #e4e6ef;
  --bs-gray-400: #b5b5c3;
  --bs-gray-500: #a1a5b7;
  --bs-gray-600: #7e8299;
  --bs-gray-700: #5e6278;
  --bs-gray-800: #3f4254;
  --bs-gray-900: #181c32;
  --bs-white: #ffffff;
  --bs-light: #f5f8fa;
  --bs-primary: #009ef7;
  --bs-secondary: #e4e6ef;
  --bs-success: #50cd89;
  --bs-info: #7239ea;
  --bs-warning: #ffc700;
  --bs-danger: #f1416c;
  --bs-dark: #181c32;
  --bs-white-rgb: 255, 255, 255;
  --bs-light-rgb: 245, 248, 250;
  --bs-primary-rgb: 0, 158, 247;
  --bs-secondary-rgb: 228, 230, 239;
  --bs-success-rgb: 80, 205, 137;
  --bs-info-rgb: 114, 57, 234;
  --bs-warning-rgb: 255, 199, 0;
  --bs-danger-rgb: 241, 65, 108;
  --bs-dark-rgb: 24, 28, 50;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 24, 28, 50;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: 'Sora', sans-serif;
  --bs-gradient: linear-gradient(180deg,
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0));
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: black;
  --bs-body-bg: #ffffff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-repeat: repeat;
  z-index: -1;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 0.8rem;
  }
}

body::-webkit-scrollbar {
  width: 0;
  /* Remove horizontal scrollbar */
  height: 0;
  /* Remove vertical scrollbar */
  display: none;
  /* Hide scrollbar */
}

/* Optional: You can add styles for when the scrollbar is in the hover state */
body::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Change thumb color on hover */
}

/* Class to hide scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  /* For Webkit browsers (Chrome, Safari, Opera) */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 700px) {
  p {
    font-size: 0.8rem;
  }
}

.sidenav-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-content {
  /* //for sidenav apply this style */
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #FCFCFC;
  margin-left: 250px;
  min-height: calc(100vh - 60px);
  position: relative !important;
  /* Adjust to full height minus top-menu */
}

@media screen and (max-width: 700px) {
  .main-content {
    margin-left: unset;
  }
}

.main-content .content {
  padding: 100px 0;
}

.main-content::-webkit-scrollbar {
  width: 0;
  /* Remove horizontal scrollbar */
  height: 0;
  /* Remove vertical scrollbar */
  display: none;
  /* Hide scrollbar */
}

.main-content::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Change thumb color on hover */
}

.app {
  position: relative;
}

.sidebar {
  position: absolute;
  z-index: 999;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.app.toggled .sidebar {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 768px) {
  .sidebar {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

.m-0 {
  margin: 0vw !important;
}

@media screen and (max-width: 700px) {
  .m-0 {
    margin: 0vw !important;
  }
}

.m-5 {
  margin: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .m-5 {
    margin: 0.625vw !important;
  }
}

.m-10 {
  margin: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .m-10 {
    margin: 1.25vw !important;
  }
}

.m-15 {
  margin: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .m-15 {
    margin: 1.875vw !important;
  }
}

.m-20 {
  margin: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .m-20 {
    margin: 2.5vw !important;
  }
}

.m-25 {
  margin: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .m-25 {
    margin: 3.125vw !important;
  }
}

.mt-0 {
  margin-top: 0vw !important;
}

@media screen and (max-width: 700px) {
  .mt-0 {
    margin-top: 0vw !important;
  }
}

.mt-5 {
  margin-top: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .mt-5 {
    margin-top: 0.625vw !important;
  }
}

.mt-10 {
  margin-top: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .mt-10 {
    margin-top: 1.25vw !important;
  }
}

.mt-15 {
  margin-top: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .mt-15 {
    margin-top: 1.875vw !important;
  }
}

.mt-20 {
  margin-top: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .mt-20 {
    margin-top: 2.5vw !important;
  }
}

.mt-25 {
  margin-top: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .mt-25 {
    margin-top: 3.125vw !important;
  }
}

.mb-0 {
  margin-bottom: 0vw !important;
}

@media screen and (max-width: 700px) {
  .mb-0 {
    margin-bottom: 0vw !important;
  }
}

.mb-5 {
  margin-bottom: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .mb-5 {
    margin-bottom: 0.625vw !important;
  }
}

.mb-10 {
  margin-bottom: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .mb-10 {
    margin-bottom: 1.25vw !important;
  }
}

.mb-15 {
  margin-bottom: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .mb-15 {
    margin-bottom: 1.875vw !important;
  }
}

.mb-20 {
  margin-bottom: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .mb-20 {
    margin-bottom: 2.5vw !important;
  }
}

.mb-25 {
  margin-bottom: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .mb-25 {
    margin-bottom: 3.125vw !important;
  }
}

.mr-0 {
  margin-right: 0vw !important;
}

@media screen and (max-width: 700px) {
  .mr-0 {
    margin-right: 0vw !important;
  }
}

.mr-5 {
  margin-right: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .mr-5 {
    margin-right: 0.625vw !important;
  }
}

.mr-10 {
  margin-right: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .mr-10 {
    margin-right: 1.25vw !important;
  }
}

.mr-15 {
  margin-right: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .mr-15 {
    margin-right: 1.875vw !important;
  }
}

.mr-20 {
  margin-right: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .mr-20 {
    margin-right: 2.5vw !important;
  }
}

.mr-25 {
  margin-right: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .mr-25 {
    margin-right: 3.125vw !important;
  }
}

.ml-0 {
  margin-left: 0vw !important;
}

@media screen and (max-width: 700px) {
  .ml-0 {
    margin-left: 0vw !important;
  }
}

.ml-5 {
  margin-left: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .ml-5 {
    margin-left: 0.625vw !important;
  }
}

.ml-10 {
  margin-left: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .ml-10 {
    margin-left: 1.25vw !important;
  }
}

.ml-15 {
  margin-left: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .ml-15 {
    margin-left: 1.875vw !important;
  }
}

.ml-20 {
  margin-left: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .ml-20 {
    margin-left: 2.5vw !important;
  }
}

.ml-25 {
  margin-left: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .ml-25 {
    margin-left: 3.125vw !important;
  }
}

.mx-0 {
  margin: 0vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .mx-0 {
    margin: 0vw 0vw !important;
  }
}

.mx-5 {
  margin: 0 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .mx-5 {
    margin: 0vw 0.625vw !important;
  }
}

.mx-10 {
  margin: 0vw 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .mx-10 {
    margin: 0vw 1.25vw !important;
  }
}

.mx-15 {
  margin: 0vw 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .mx-15 {
    margin: 0vw 1.875vw !important;
  }
}

.mx-20 {
  margin: 0vw 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .mx-20 {
    margin: 0vw 2.5vw !important;
  }
}

.mx-25 {
  margin: 0vw 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .mx-25 {
    margin: 0vw 3.125vw !important;
  }
}

.my-0 {
  margin: 0vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .my-0 {
    margin: 0vw 0vw !important;
  }
}

.my-5 {
  margin: 0.26042vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .my-5 {
    margin: 0.625vw 0vw !important;
  }
}

.my-10 {
  margin: 0.52083vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .my-10 {
    margin: 1.25vw 0vw !important;
  }
}

.my-15 {
  margin: 0.78125vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .my-15 {
    margin: 1.875vw 0vw !important;
  }
}

.my-20 {
  margin: 1.04167vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .my-20 {
    margin: 2.5vw 0vw !important;
  }
}

.my-25 {
  margin: 1.30208vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .my-25 {
    margin: 3.125vw 0vw !important;
  }
}

.p-0 {
  padding: 0vw !important;
}

@media screen and (max-width: 700px) {
  .p-0 {
    padding: 0vw !important;
  }
}

.p-5 {
  padding: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .p-5 {
    padding: 0.625vw !important;
  }
}

.p-10 {
  padding: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .p-10 {
    padding: 1.25vw !important;
  }
}

.p-15 {
  padding: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .p-15 {
    padding: 1.875vw !important;
  }
}

.p-20 {
  padding: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .p-20 {
    padding: 2.5vw !important;
  }
}

.p-25 {
  padding: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .p-25 {
    padding: 3.125vw !important;
  }
}

.pt-0 {
  padding-top: 0vw !important;
}

@media screen and (max-width: 700px) {
  .pt-0 {
    padding-top: 0vw !important;
  }
}

.pt-5 {
  padding-top: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .pt-5 {
    padding-top: 0.625vw !important;
  }
}

.pt-10 {
  padding-top: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .pt-10 {
    padding-top: 1.25vw !important;
  }
}

.pt-15 {
  padding-top: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .pt-15 {
    padding-top: 1.875vw !important;
  }
}

.pt-20 {
  padding-top: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .pt-20 {
    padding-top: 2.5vw !important;
  }
}

.pt-25 {
  padding-top: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .pt-25 {
    padding-top: 3.125vw !important;
  }
}

.pb-0 {
  padding-bottom: 0vw !important;
}

@media screen and (max-width: 700px) {
  .pb-0 {
    padding-bottom: 0vw !important;
  }
}

.pb-5 {
  padding-bottom: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .pb-5 {
    padding-bottom: 0.625vw !important;
  }
}

.pb-10 {
  padding-bottom: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .pb-10 {
    padding-bottom: 1.25vw !important;
  }
}

.pb-15 {
  padding-bottom: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .pb-15 {
    padding-bottom: 1.875vw !important;
  }
}

.pb-20 {
  padding-bottom: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .pb-20 {
    padding-bottom: 2.5vw !important;
  }
}

.pb-25 {
  padding-bottom: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .pb-25 {
    padding-bottom: 3.125vw !important;
  }
}

.pr-0 {
  padding-right: 0vw !important;
}

@media screen and (max-width: 700px) {
  .pr-0 {
    padding-right: 0vw !important;
  }
}

.pr-5 {
  padding-right: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .pr-5 {
    padding-right: 0.625vw !important;
  }
}

.pr-10 {
  padding-right: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .pr-10 {
    padding-right: 1.25vw !important;
  }
}

.pr-15 {
  padding-right: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .pr-15 {
    padding-right: 1.875vw !important;
  }
}

.pr-20 {
  padding-right: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .pr-20 {
    padding-right: 2.5vw !important;
  }
}

.pr-25 {
  padding-right: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .pr-25 {
    padding-right: 3.125vw !important;
  }
}

.pl-0 {
  padding-left: 0vw !important;
}

@media screen and (max-width: 700px) {
  .pl-0 {
    padding-left: 0vw !important;
  }
}

.pl-5 {
  padding-left: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .pl-5 {
    padding-left: 0.625vw !important;
  }
}

.pl-10 {
  padding-left: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .pl-10 {
    padding-left: 1.25vw !important;
  }
}

.pl-15 {
  padding-left: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .pl-15 {
    padding-left: 1.875vw !important;
  }
}

.pl-20 {
  padding-left: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .pl-20 {
    padding-left: 2.5vw !important;
  }
}

.pl-25 {
  padding-left: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .pl-25 {
    padding-left: 3.125vw !important;
  }
}

.px-0 {
  padding: 0vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .px-0 {
    padding: 0vw 0vw !important;
  }
}

.px-5 {
  padding: 0vw 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .px-5 {
    padding: 0vw 0.625vw !important;
  }
}

.px-10 {
  padding: 0vw 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .px-10 {
    padding: 0vw 1.25vw !important;
  }
}

.px-15 {
  padding: 0vw 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .px-15 {
    padding: 0vw 1.875vw !important;
  }
}

.px-20 {
  padding: 0vw 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .px-20 {
    padding: 0vw 2.5vw !important;
  }
}

.px-25 {
  padding: 0vw 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .px-25 {
    padding: 0vw 3.125vw !important;
  }
}

.py-0 {
  padding: 0vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .py-0 {
    padding: 0vw 0vw !important;
  }
}

.py-5 {
  padding: 0.26042vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .py-5 {
    padding: 0.625vw 0vw !important;
  }
}

.py-10 {
  padding: 0.52083vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .py-10 {
    padding: 1.25vw 0vw !important;
  }
}

.py-15 {
  padding: 0.78125vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .py-15 {
    padding: 1.875vw 0vw !important;
  }
}

.py-20 {
  padding: 1.04167vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .py-20 {
    padding: 2.5vw 0vw !important;
  }
}

.py-25 {
  padding: 1.30208vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .py-25 {
    padding: 3.125vw 0vw !important;
  }
}

.text-bold {
  font-weight: bold;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  color: #262626;
}

h1,
.h1 {
  font-weight: 700;
  font-size: 4.833rem;
  line-height: 80px;
  color: #262626;
  text-transform: uppercase;
}

h2,
.h2 {
  font-weight: 700;
  font-size: 3.558rem;
  line-height: 65px;
  text-transform: uppercase;
}

h3,
.h3 {
  font-size: calc(1.26rem + 0.12vw);
}

@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.35rem;
  }
}

@media (max-width: 700px) {
  .rellax {
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
}

h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1.15rem;
}

h6,
.h6 {
  font-size: 1.075rem;
}

a {
  text-decoration: none !important;
  color: black;
  cursor: pointer;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

.form-style-1 tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 1.5625vw;
}

.form-style-1 tr th label {
  float: left;
}

.form-style-1 tr td input {
  margin-top: 0.26042vw;
  background-color: #f8f4f4;
  padding: 0.26042vw 0.26042vw;
  border: none;
  border-bottom: 0.05208vw solid black;
  outline: none;
}

.errorlist {
  list-style: none;
  color: red;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}

@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}

legend + * {
  clear: left;
}

.display-1 {
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 600;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-1 {
    font-size: 5rem;
  }
}

.display-2 {
  font-size: calc(1.575rem + 3.9vw);
  font-weight: 600;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-2 {
    font-size: 4.5rem;
  }
}

.display-3 {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 600;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-3 {
    font-size: 4rem;
  }
}

.display-4 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 600;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-4 {
    font-size: 3.5rem;
  }
}

.display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 600;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-5 {
    font-size: 3rem;
  }
}

.display-6 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 600;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-6 {
    font-size: 2.5rem;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.initialism {
  font-size: 0.875em;
  text-transform: uppercase;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.blockquote > :last-child {
  margin-bottom: 0;
}

.blockquote-footer {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: #7e8299;
}

.blockquote-footer::before {
  content: "— ";
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #ffffff;
  border: 1px solid #e4e6ef;
  border-radius: 0.475rem;
  -webkit-box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
  max-width: 100%;
  height: auto;
}

.figure {
  display: inline-block;
}

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.figure-caption {
  font-size: 0.875em;
  color: #7e8299;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: 80px !important;
  padding-left: 80px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

@media screen and (min-width: 0px) and (max-width: 750px) {
  .container-sm,
  .container {
    width: 100%;
    padding-right: 40px !important;
    padding-left: 40px !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}

@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1000px;
  }
}

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1128px;
  }
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1400px;
  }
}

.initialism {
  font-size: 0.875em;
  text-transform: uppercase;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.blockquote > :last-child {
  margin-bottom: 0;
}

.blockquote-footer {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: #7e8299;
}

.blockquote-footer::before {
  content: "— ";
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #ffffff;
  border: 1px solid #e4e6ef;
  border-radius: 0.475rem;
  -webkit-box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
  max-width: 100%;
  height: auto;
}

.figure {
  display: inline-block;
}

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.figure-caption {
  font-size: 0.875em;
  color: #7e8299;
}

.row {
  --bs-gutter-x: 1rem;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.row-cols-auto > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
}

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
}

.w-full {
  width: 100%;
}

.offset-1 {
  margin-left: 8.33333333%;
}

.offset-2 {
  margin-left: 16.66666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333333%;
}

.offset-5 {
  margin-left: 41.66666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333333%;
}

.offset-8 {
  margin-left: 66.66666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333333%;
}

.offset-11 {
  margin-left: 91.66666667%;
}

.text-primary {
  color: #cc1d21;
}

.black-border {
  border: 2px solid black;
  border-radius: 15px;
}

.cursor {
  pointer-events: none;
}

.cursor .cursor__ball--small {
  fill: red;
  top: -4px;
  right: -6px;
}

.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  stroke: black;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .cursor {
    display: none;
  }
}
/* The container */
.text-eng {
  text-align: right;
}

.recommendation-container {
  position: relative;
  width: 100%;
}

.recommendation-container .recommendation-group {
  background-color: white;
  border: 2px solid #3268E3;
  width: 100%;
  display: none;
  position: absolute;
  top: 110%;
  overflow-y: auto;
  max-height: 200px;
  border-radius: 5px;
}

.recommendation-container .recommendation-group .close {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: white;
  content: "";
  padding: 5px 7px;
  cursor: pointer;
}

.recommendation-container .recommendation-group .recommendation {
  padding: 10px;
}

.recommendation-container .recommendation-group .recommendation:hover {
  background-color: #F0F3FF;
  cursor: pointer;
}

.recommendation-container .recommendation-group .help-text {
  font-size: 9px;
  background-color: #F0F3FF;
  position: -webkit-sticky;
  position: sticky;
  padding: 2px 5px;
  font-weight: bold;
}

section {
  margin-top: 36px;
  position: relative;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  section {
    margin-top: 70px;
  }
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.arrow {
  position: absolute;
  background-color: none;
  border: 0;
  background-color: transparent;
  left: 0%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 0;
  height: 100%;
  width: 30px;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .arrow {
    width: 30px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1200px) {
  .arrow {
    width: 30px;
  }
}

.arrow svg {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.next {
  right: 0%;
  left: unset;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.title p {
  color: #632E99;
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 500;
  margin: 0;
  line-height: 36px;
}

.title p span {
  font-size: 24px;
  color: #C1A0FA;
  font-weight: 600;
  padding-top: 8px;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .title p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1200px) {
  .title p {
    font-size: 1rem;
  }
}

.title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  color: #632E99;
  margin: 0;
}

.title a span {
  padding-top: 5px;
}

.MuiInputBase-root {
  background-color: white;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.39);
  height: 100%;
  width: 100%;
  position: fixed;
  display: -ms-grid;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: calc(100dvw - 250px);
  z-index: 10;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

@media screen and (max-width: 700px) {
  .navbar {
    width: 100%;
  }
}

.navbar.scrolled {
  background-color: white;
}

.top-nav-container {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #FFFF;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0D0E12;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 700px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #0D0E12;
    width: 0px;
    z-index: 999;
    height: calc(100vh - 60px);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }
  .nav-elements.active {
    width: 80%;
    padding: 20px;
  }
  .nav-elements ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

.sidenav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100dvh;
  background-color: #3E2071;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navLinks {
  list-style: none;
  padding: 0;
}

.navLinks li {
  margin-bottom: 1rem;
}

.navLinks li a {
  color: #fff;
  text-decoration: none;
}

.side-menu {
  background-color: #0D0E12;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 105;
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side-menu * {
  color: #9a9cae;
  font-weight: 500;
  cursor: pointer;
}

.side-menu *:hover {
  color: #f5f5f5;
}

.side-menu .logo-container {
  border-bottom: 1px dashed #1f212a;
  padding: 1rem 1rem 0.65rem 1rem;
}

.side-menu .logo-container .logo {
  line-height: 100%;
  color: white;
  font-size: 2.5em;
  font-family: 'Bebas Neue';
}

.side-menu .icon {
  height: 20px;
  width: 20px;
  display: block;
}

.side-menu .icon svg {
  -o-object-fit: contain;
     object-fit: contain;
}

.side-menu .menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: auto;
}

.side-menu .menu::-webkit-scrollbar {
  width: 6px;
  background: transparent;
  /* Ensures scrollbar is hidden when not hovered */
}

.side-menu .menu:hover::-webkit-scrollbar-track {
  background: #333;
  /* Visible track on hover */
  border-radius: 10px;
}

.side-menu .menu:hover::-webkit-scrollbar-thumb {
  background: #888;
  /* Visible thumb on hover */
  border-radius: 10px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.side-menu .menu:hover::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Darker thumb on hover */
}

.side-menu .menu:hover::-webkit-scrollbar {
  background: #2a2a2a;
  /* Makes the scrollbar track slightly visible */
}

.side-menu .bottom {
  width: 100%;
  border-top: 1px dashed #1f212a;
}

.side-menu details {
  padding: 10px 20px;
}

.side-menu details > summary > .arrow {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.side-menu details[open] > summary > .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.side-menu .details-content {
  overflow: hidden;
  /* Hide overflow while transitioning */
  height: 0;
  /* Start with zero height */
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  /* Add transition for smooth opening/closing */
}

.side-menu .details-content.open {
  height: auto;
  /* Once open, set height to auto */
}

.side-menu ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
  min-width: 250px;
  font-size: 14px;
}

.side-menu ul li {
  padding: 10px 20px;
}

.side-menu ul summary {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-menu ul summary ul {
  margin-top: 10px;
}

.side-menu ul li,
.side-menu ul summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.side-menu ul li .name,
.side-menu ul summary .name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 10px;
}

.side-menu ul li .arrow,
.side-menu ul summary .arrow {
  font-size: 10px;
}

.side-menu ul li ul,
.side-menu ul summary ul {
  margin-top: 0;
}

.css-1wvake5 {
  height: 100dvh;
  position: fixed !important;
  z-index: 100;
}

.css-dip3t8 {
  background-color: #0D0E12 !important;
  color: #FFFF;
}

.css-nx2aea {
  background-color: #0D0E12 !important;
  color: #FFFF;
}

.css-16jesut,
.css-16jesut > .ps-menu-button:hover {
  background-color: #0D0E12 !important;
}

.css-1t8x7v1 > .ps-menu-button:hover {
  background-color: #009ef6 !important;
}

.css-1tqrhto > .ps-menu-button:hover {
  background-color: #009ef6 !important;
}

.css-1wvake5.ps-broken {
  background-color: #0D0E12;
  color: #FFFF;
}

.tableTitleCard {
  width: 100%;
  padding: 10px;
}

@media screen and (min-width: 100px) and (max-width: 480px) {
  .tableTitleCard {
    padding: 0;
  }
}

.tableTitleCard .tableHeader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tableTitleCard .tableHeader .title {
  font-size: 20px;
  font-weight: 600 !important;
  margin: 0;
  color: #030320;
}

.tableTitleCard .tableHeader .optionButton {
  cursor: pointer;
}

.tableTitleCard .tableHeader .optionModal {
  position: absolute;
  right: 2rem;
  top: 2rem;
  background-color: lightblue;
  z-index: 100;
  padding: 15px;
}

.tableTitleCard .tableData {
  font-size: 31px;
}

.tableTitleCard .tableRow {
  background-color: aqua;
}

.tableTitleCard .horizontalRule {
  border: 0;
  height: 2px;
  background: #E7DCFA;
  margin: 5px 0 0 0;
}

.flex-btw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5rem;
}

.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999999;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1.5rem 3rem;
}

.page-item {
  margin: 0 2px;
}

.page-link {
  color: #6a1b9a;
  /* A shade of purple */
  background-color: #f3e5f5;
  /* Light purple background */
  border: 1px solid #ce93d8;
  /* Purple border */
  border-radius: 8px;
  padding: 5px 10px;
  text-decoration: none;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}

.page-link:hover {
  color: #f3e5f5;
  /* Light purple text on hover */
  background-color: #6a1b9a;
  /* Darker purple background on hover */
  border-color: #6a1b9a;
}

.active .page-link {
  color: #f3e5f5;
  background-color: #8e24aa;
  /* Even darker purple for active page */
  border-color: #6a1b9a;
}

/* Styles for previous, next, and break links */
.previousLinkClassName,
.nextLinkClassName,
.breakLinkClassName {
  border-radius: 5px;
  /* Slightly rounded corners for consistency */
}

.swal2-container {
  z-index: 1301;
}

.css-13n6qhj-MuiLinearProgress-root {
  background-color: #D4BEFA !important;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  max-width: 500px !important;
}

.css-pwxzbm {
  max-width: 500px !important;
}

.css-1ty026z {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow-y: auto;
  padding: 20px 24px;
  background: rgba(232, 144, 112, 0.04);
  margin-top: 10px;
  border: 1px solid coral;
}

.scrollable-table-container {
  overflow-x: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.error {
  font-size: 0.75rem;
  color: #d32f2f;
  padding: 4px 15px 0;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}

.contact-container .contact-illustration {
  width: 100%;
}

.contact-container .contact-illustration img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 0px) and (max-width: 700px) {
  .contact-container .contact-illustration {
    display: none;
  }
}

.dropzone {
  background-color: #27272A;
  max-width: 350px;
  height: 140px;
  border-radius: 12px;
  color: #5f5f5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.dropzone div {
  width: 100%;
  height: 100%;
}

.dropzone div img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.slide-In {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #0D0E12;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  z-index: 10000;
}

.slide-Out {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #0D0E12;
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: 10000;
}
/*# sourceMappingURL=global.css.map */